<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.estimatry">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Estimatry">

        <activity
            android:name=".estimation_techniques.UcpAnswer"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".estimation_techniques.FpaResults"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".estimation_techniques.Fpa_caf"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".estimation_techniques.Details"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".estimation_techniques.Ucp"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".estimation_techniques.Slim"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".estimation_techniques.Fpa"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".estimation_techniques.Cocomo2"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".estimation_techniques.Cocomo"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>